# node modules
node_modules/

# логи
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv файлы (если используете)
.env
.env.*

# кэш npm/yarn
.npm/
.yarn/
.pnpm-debug.log

# IDE и редакторы
.idea/
.vscode/
*.swp
*.swo

# ОС
.DS_Store
Thumbs.db

# сборочные артефакты
dist/
build/

# временные файлы
*.tmp
*.bak

# coverage (если используете тесты)
coverage/
