openapi: 3.0.3
info:
  title: Proselyte Redis Course API
  version: 1.0.0
paths:
/api/v1/users:
  get:
    summary: Get all users
    responses:
      '200':
        description: List of users
  post:
    summary: Create user
    requestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserDto'
    responses:
      '200':
        description: User created
  /api/v1/users/{id}:
    get:
      summary: Get user by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User found
    put:
      summary: Update user
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserDto'
      responses:
        '200':
          description: User updated
    delete:
      summary: Delete user
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: User deleted
  /api/v1/users/{id}/visit:
    post:
      summary: Increment visit (unsafe)
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Visit incremented
  /api/v1/users/{id}/visit-incr:
    post:
      summary: Increment visit with INCR
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Visit incremented
  /api/v1/users/{id}/visit-watch:
    post:
      summary: Increment visit with WATCH
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Visit incremented
  /api/v1/users/{id}/visit-lock:
    post:
      summary: Increment visit with lock
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Visit incremented
  /api/v1/users/{id}/save-json:
    post:
      summary: Save user to RedisJSON
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Saved
  /api/v1/users/{id}/json:
    get:
      summary: Get user from RedisJSON
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Found
/api/v1/events:
  get:
    summary: Get all events
    responses:
      '200':
        description: List of events
  post:
    summary: Create event
    requestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EventDto'
    responses:
      '200':
        description: Event created
  /api/v1/events/{id}:
    get:
      summary: Get event by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Event found
    put:
      summary: Update event
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventDto'
      responses:
        '200':
          description: Event updated
    delete:
      summary: Delete event
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Event deleted
components:
  schemas:
    EventDto:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
    UserDto:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        age:
          type: integer
        events:
          type: array
          items:
            $ref: '#/components/schemas/EventDto'
